@{
    ViewData["Title"] = "Education";
}

<h1>Education</h1>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <ul>
        <li>HSC</li>
        <ul>
            <li>Science</li>
            <li>Year</li>
        </ul>
    </ul>

    <ul>
        <li>SSC</li>
        <ul>
            <li>Science</li>
            <li>Year</li>
        </ul>
    </ul>
</body>
</html>

