@{
    ViewData["Title"] = "Project";
}

<h1>Project</h1>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table class="table table-bordered">
        <tr>
            <th>Course</th>
            <th>Title</th>
            <th>Grade</th>

        </tr>
        <tr>
            <td>Dot net</td>
            <td>Tv Web</td>
            <td>00000</td>
        </tr>
        <tr>
            <td>Ad Web</td>
            <td>Mobile Web</td>
            <td>3.75</td>
        </tr>
    </table>
</body>
</html>