@{
    ViewData["Title"] = "Referenes";
}

<h1>Referenes</h1>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <ol>
        <li>Rohim Uddin</li>
        <li>Abrar</li>
    </ol>
</body>
</html>

