@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/" method="post">
        <label>Name</label>
        <input type="text" /><br />

        <label>Id</label>
        <input type="number" /><br />

        <label>CGPA</label>
        <input type="number" /><br />
        <button>Submit</button>


    </form>
</body>
</html>