@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>CGPA</th>

        </tr>
        <tr>
            <td>22-48023-2</td>
            <td>Sayem</td>
            <td>00000</td>
        </tr>
        <tr>
            <td>22-48021-2</td>
            <td>Zim</td>
            <td>3.75</td>
        </tr>
    </table>
</body>
</html>

